.header {
    text-align: center !important;
    font-size: 4rem !important;
    margin-bottom: 40px !important;
}

.cards {
    margin-top: 20px;
    margin-bottom: 40px;
}

.card {
    margin-bottom: 30px;
}

.btn {
    color: white !important;
}

.loadcontainer {
    width: 100;
    text-align: center;
    margin-top: 50vh;
}

.nodata {
    text-align: center;
    margin-top: 50vh;
}
