.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
